# Python cache
__pycache__/

# Environments
.env
.venv
env/
venv/

EDA/

code/baseline_backtest.yaml
code/main_backtest.yaml
strategy_results/baseline_backtest/
strategy_results/main_backtest/
data/processed/